.home-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 10rem;
}

.fa-home {
  color: #8ab172;
  font-size: 10rem;
  text-align: center !important;
}

.home-header {
  padding-top: 1rem;
  font-weight: 100;
  color: #222E50;
  text-align: center; 
  text-transform: uppercase;
}